#spe-dialog {
    background-color: lightblue;
    padding: 10px;
  }

  #spe-dialog .audio-button {
    display: inline-block;
    border: none; /* Remove the border */
    background-color: inherit;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  #spe-dialog .audio-button:hover {
    background-color: #eee;
  }
  
  #spe-dialog .audio-button:active {
    box-shadow: none;
  }

  #spe-dialog .strong-text {
    font-weight: bold !important;
  }
  
  #spe-dialog .paragraph {
    font-family: Arial,Helvetica,sans-serif !important;
  }

  #spe-dialog .paragraph.ipa {
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
  }

  #spe-dialog .normal-p {
    font-family: "Helvetica Neue", Arial, sans-serif; /* Specify a font stack */
    font-size: 16px; /* Set the font size */
    line-height: 1.5; /* Set the line height to improve readability */
    color: #333; /* Set the text color */
    margin-bottom: 1em; /* Add some space between paragraphs */
  }

  #spe-dialog .h2-text {
    margin-bottom: 0.5rem !important; /* adjust the value to your liking */ 
    margin-top: 0.5rem !important;
    font-size: 1.5em;
    font-weight: bold;
  }

  #spe-dialog .h3-text {
    margin-bottom: 0.5rem !important; /* adjust the value to your liking */
    margin-top: 0.5rem !important;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
  }
  
  #spe-dialog .text-box-div {
    margin-bottom: 0.5rem; /* adjust the value to your liking */
    margin-top: 0.5rem;
  }

  #spe-dialog .info-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    z-index: 9999;
  }
  
  
  #spe-dialog .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


  #spe-dialog .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
    position: relative;
  }

  #spe-dialog .card:hover {
    border-color: #999;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  }
  
  #spe-dialog .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
  }
  
  #spe-dialog .card-title {
    margin: 0;
  }
  
  #spe-dialog .expand-icon {
    font-size: 20px;
  }
  
  #spe-dialog .card-body {
    padding: 10px;
    display: none;
  }
  
  #spe-dialog .card.is-expanded .card-body {
    display: block;
  }
  
  
  #spe-dialog .div-with-bottom-line {
    border-bottom: 1px solid black;
  }
